.login-bg {
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  background-image: url('https://res.cloudinary.com/dqppfjvrw/image/upload/v1687165081/netfilx_1_zm9om0.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  color: #e50014;
  font-size: 52px;
  margin-top: 48px;
  margin-left: 168px;
  align-self: flex-start;
}
.login-form {
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 64px 48px;
}
.loin-txt {
  align-self: center;
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  margin: 0px;
  margin-bottom: 32px;
}
.label {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 12px;
  color: #ffffff;
  font-weight: 700;
}
.input-ele {
  font-size: 14px;
  width: 360px;
  padding: 8px 16px;
  background-color: #333333;
  color: #e2e8f0;
  border: none;
  border-radius: 2px;
  outline: none;
}
.p-div {
  margin: 0px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.login-btn {
  margin-top: 24px;
  background-color: #e50914;
  padding: 10px;
  font-size: 14px;
  color: #f8fafc;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}
.error-ele {
  margin: 0px;
  color: #dc2626;
  font-size: 14px;
  font-weight: 400;
}
.hide-error {
  display: none;
}

@media all and (max-width: 767px) {
  .login-bg {
    background: none;
    background-color: #000000;
    padding: 32px;
  }
  .heading {
    font-size: 27px;
    margin: 0px;
    margin-bottom: 10vh;
  }
  .login-form {
    margin: 0px;
    padding: 0px;
  }
  .loin-txt {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 8px;
    align-self: flex-start;
    flex-wrap: wrap;
  }
  .label {
    margin-top: 16px;
    margin-bottom: 0px;
  }
  .input-ele {
    width: 80vw;
    margin-top: 8px;
  }
}
